template(name="input")
    #input
        .input-group.input-group-lg.col-md-8.col-md-offset-2
            input.form-control(type="text")
            span.input-group-btn
                button.btn.btn-default(type="button") Send